In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('/Users/orestis/MyProjects/InvestorAPI/app/database/ibd.db')

In [3]:
query = "SELECT * FROM price_prediction_dataset ORDER BY DATE(fiscal_date_ending)"

stocks_df = pd.read_sql(query, conn)

In [4]:
stocks_df.drop("avg_global_commodities_index_value", axis='columns', inplace=True)

In [5]:
stocks_df.columns

Index(['symbol', 'fiscal_date_ending', 'reported_currency', 'gross_profit',
       'total_revenue', 'cost_of_revenue', 'cost_of_goods_and_services_sold',
       'operating_income', 'selling_general_and_administrative',
       'research_and_development',
       ...
       'total_non_current_liabilities_change', 'total_revenue_change',
       'total_shareholder_equity_change', 'treasury_stock_change',
       'avg_interest_rate', 'avg_treasury_yield', 'avg_unemployment_rate',
       'inflation', 'avg_volume', 'price'],
      dtype='object', length=180)

In [6]:
stocks_df.tail()

,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,total_non_current_liabilities_change,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,inflation,avg_volume,price
58499,KMX,2023-08-31,USD,696765000.0,7.073836e+09,6.377071e+09,4.020000e+07,32954000.0,585694000.0,0.0,...,-249101000.0,-6.132270e+08,182491000.0,0.0,5.33,4.38,3.8,4.64285,28156957.0,69.460
58500,SNX,2023-08-31,USD,971273000.0,1.396062e+10,1.298934e+10,1.298934e+10,240233000.0,659454000.0,0.0,...,-691140000.0,-1.164756e+09,219162000.0,163462000.0,5.33,4.38,3.8,4.64285,6004426.5,98.775
58501,WOR,2023-08-31,USD,197489000.0,1.193256e+09,9.957670e+08,9.957670e+08,77705000.0,112348000.0,0.0,...,-404975000.0,-3.560800e+07,78612000.0,0.0,5.33,4.38,3.8,4.64285,3434681.5,61.515
58502,MKC,2023-08-31,USD,622800000.0,1.684700e+09,1.061900e+09,1.061900e+09,245000000.0,371700000.0,0.0,...,-715200000.0,2.550000e+07,112300000.0,0.0,5.33,4.38,3.8,4.64285,19017476.0,72.025
58503,ACCD,2023-08-31,USD,87310000.0,1.937280e+08,1.064180e+08,5.531700e+07,-35208000.0,40335000.0,0.0,...,-1120000.0,7.276000e+06,-16534000.0,0.0,5.33,4.38,3.8,4.64285,5518465.5,10.165

In [7]:
stocks_df['sector'].value_counts()

MANUFACTURING                 9769
LIFE SCIENCES                 9584
FINANCE                       8665
TECHNOLOGY                    8606
TRADE & SERVICES              8524
ENERGY & TRANSPORTATION       7900
REAL ESTATE & CONSTRUCTION    5456
Name: sector, dtype: int64

In [8]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58504 entries, 0 to 58503
Columns: 180 entries, symbol to price
dtypes: float64(176), object(4)
memory usage: 80.3+ MB

In [9]:
stocks_df['price'].describe()

count    57105.000000
mean        67.289579
std        150.624749
min          0.107500
25%         15.430000
50%         33.755000
75%         71.875000
max       6341.885000
Name: price, dtype: float64

In [10]:
columns_with_null = stocks_df.columns[stocks_df.isna().any()].tolist()
columns_with_null

['accumulated_depreciation_amortization_ppe_change',
 'capital_expenditures_change',
 'capital_lease_obligations_change',
 'cash_and_cash_equivalents_at_carrying_value_change',
 'cash_and_short_term_investments_change',
 'cashflow_from_financing_change',
 'cashflow_from_investment_change',
 'change_in_inventory_change',
 'change_in_operating_assets_change',
 'change_in_operating_liabilities_change',
 'change_in_receivables_change',
 'common_stock_change',
 'common_stock_shares_outstanding_change',
 'comprehensive_income_net_of_tax_change',
 'cost_of_goods_and_services_sold_change',
 'cost_of_revenue_change',
 'current_accounts_payable_change',
 'current_debt_change',
 'current_long_term_debt_change',
 'current_net_receivables_change',
 'deferred_revenue_change',
 'depreciation_change',
 'depreciation_and_amortization_change',
 'depreciation_depletion_and_amortization_change',
 'dividend_payout_change',
 'dividend_payout_common_stock_change',
 'dividend_payout_preferred_stock_change',
 'ebit_change',
 'ebitda_change',
 'goodwill_change',
 'gross_profit_change',
 'income_before_tax_change',
 'income_tax_expense_change',
 'intangible_assets_change',
 'intangible_assets_excluding_goodwill_change',
 'interest_and_debt_expense_change',
 'interest_expense_change',
 'interest_income_change',
 'inventory_change',
 'investment_income_net_change',
 'investments_change',
 'long_term_debt_change',
 'long_term_debt_noncurrent_change',
 'long_term_investments_change',
 'net_income_change',
 'net_income_from_continuing_operations_change',
 'net_interest_income_change',
 'non_interest_income_change',
 'operating_cashflow_change',
 'operating_expenses_change',
 'operating_income_change',
 'other_current_assets_change',
 'other_current_liabilities_change',
 'other_non_current_assets_change',
 'other_non_current_liabilities_change',
 'other_non_operating_income_change',
 'payments_for_operating_activities_change',
 'payments_for_repurchase_of_common_stock_change',
 'payments_for_repurchase_of_equity_change',
 'payments_for_repurchase_of_preferred_stock_change',
 'proceeds_from_issuance_of_common_stock_change',
 'proceeds_from_issuance_of_long_term_debt_and_capital_securities_net_change',
 'proceeds_from_issuance_of_preferred_stock_change',
 'proceeds_from_operating_activities_change',
 'proceeds_from_repayments_of_short_term_debt_change',
 'proceeds_from_repurchase_of_equity_change',
 'proceeds_from_sale_of_treasury_stock_change',
 'profit_loss_change',
 'property_plant_equipment_change',
 'research_and_development_change',
 'retained_earnings_change',
 'selling_general_and_administrative_change',
 'short_long_term_debt_total_change',
 'short_term_debt_change',
 'short_term_investments_change',
 'total_assets_change',
 'total_current_assets_change',
 'total_current_liabilities_change',
 'total_liabilities_change',
 'total_non_current_assets_change',
 'total_non_current_liabilities_change',
 'total_revenue_change',
 'total_shareholder_equity_change',
 'treasury_stock_change',
 'avg_volume',
 'price']

In [11]:
stocks_df.dropna(subset=columns_with_null, inplace=True)
stocks_df.reset_index(inplace=True)

In [12]:
stocks_df.tail()

,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,...,total_non_current_liabilities_change,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,inflation,avg_volume,price
54151,58499,KMX,2023-08-31,USD,696765000.0,7.073836e+09,6.377071e+09,4.020000e+07,32954000.0,585694000.0,...,-249101000.0,-6.132270e+08,182491000.0,0.0,5.33,4.38,3.8,4.64285,28156957.0,69.460
54152,58500,SNX,2023-08-31,USD,971273000.0,1.396062e+10,1.298934e+10,1.298934e+10,240233000.0,659454000.0,...,-691140000.0,-1.164756e+09,219162000.0,163462000.0,5.33,4.38,3.8,4.64285,6004426.5,98.775
54153,58501,WOR,2023-08-31,USD,197489000.0,1.193256e+09,9.957670e+08,9.957670e+08,77705000.0,112348000.0,...,-404975000.0,-3.560800e+07,78612000.0,0.0,5.33,4.38,3.8,4.64285,3434681.5,61.515
54154,58502,MKC,2023-08-31,USD,622800000.0,1.684700e+09,1.061900e+09,1.061900e+09,245000000.0,371700000.0,...,-715200000.0,2.550000e+07,112300000.0,0.0,5.33,4.38,3.8,4.64285,19017476.0,72.025
54155,58503,ACCD,2023-08-31,USD,87310000.0,1.937280e+08,1.064180e+08,5.531700e+07,-35208000.0,40335000.0,...,-1120000.0,7.276000e+06,-16534000.0,0.0,5.33,4.38,3.8,4.64285,5518465.5,10.165

## Check for multicollinearity in the data

In [13]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [14]:
stocks_df_only_numeric = stocks_df.drop(['symbol', 'fiscal_date_ending', 'reported_currency', 'sector', 'price'], axis=1)

In [17]:
vid_df = calc_vif(stocks_df_only_numeric)

In [23]:
vid_df

                           variables           VIF
0                              index  2.481910e-01
1                       gross_profit  7.781477e+01
2                      total_revenue  4.905833e+01
3                    cost_of_revenue  3.477683e+12
4    cost_of_goods_and_services_sold  3.477683e+12
..                               ...           ...
171                avg_interest_rate  1.379615e+00
172               avg_treasury_yield  1.547949e+00
173            avg_unemployment_rate  4.116595e-01
174                        inflation  2.405813e+00
175                       avg_volume  1.215561e+00

[176 rows x 2 columns]

In [19]:
vid_df.to_csv('vif.csv')

In [33]:
vid_df.sort_values(by=['VIF'], ascending=False, inplace=True)

higher_than_10_list = []
less_or_equal_than_10_list = []
less_or_equal_than_5_list = []

for index, row in vid_df.iterrows():
    if row['VIF'] > 10:
        higher_than_10_list.append(row['variables'])
    elif row['VIF'] <= 10 and row['VIF'] > 5:
        less_or_equal_than_10_list.append(row['variables'])
    elif row['VIF'] <= 5:
        less_or_equal_than_5_list.append(row['variables'])

In [37]:
higher_than_10_list

['cost_of_revenue_change',
 'cost_of_goods_and_services_sold_change',
 'cash_and_short_term_investments_change',
 'cash_and_cash_equivalents_at_carrying_value_change',
 'cost_of_revenue',
 'cost_of_goods_and_services_sold',
 'cash_and_cash_equivalents_at_carrying_value',
 'cash_and_short_term_investments',
 'depreciation_depletion_and_amortization',
 'dividend_payout',
 'dividend_payout_change',
 'depreciation_depletion_and_amortization_change',
 'capital_expenditures',
 'cashflow_from_investment',
 'capital_expenditures_change',
 'inventory_change',
 'change_in_inventory_change',
 'inventory',
 'change_in_inventory',
 'cashflow_from_financing',
 'dividend_payout_common_stock_change',
 'dividend_payout_common_stock',
 'cashflow_from_financing_change',
 'cashflow_from_investment_change',
 'intangible_assets_excluding_goodwill_change',
 'intangible_assets_change',
 'payments_for_operating_activities',
 'payments_for_operating_activities_change',
 'intangible_assets_excluding_goodwill',
 'intangible_assets',
 'total_assets',
 'ebitda',
 'income_before_tax',
 'total_liabilities',
 'payments_for_repurchase_of_common_stock',
 'payments_for_repurchase_of_equity',
 'total_shareholder_equity',
 'ebit',
 'operating_income',
 'net_income',
 'gross_profit',
 'total_revenue',
 'property_plant_equipment',
 'retained_earnings',
 'depreciation_and_amortization',
 'short_long_term_debt_total',
 'interest_income',
 'net_income_from_continuing_operations',
 'payments_for_repurchase_of_equity_change',
 'net_interest_income',
 'payments_for_repurchase_of_common_stock_change',
 'ebitda_change',
 'total_non_current_assets',
 'ebit_change',
 'income_before_tax_change',
 'research_and_development',
 'long_term_investments',
 'operating_income_change',
 'other_non_current_liabilities',
 'net_income_change',
 'capital_lease_obligations',
 'operating_expenses',
 'gross_profit_change',
 'income_tax_expense',
 'common_stock']

In [39]:
less_or_equal_than_10_list

['profit_loss',
 'depreciation_and_amortization_change',
 'comprehensive_income_net_of_tax',
 'total_non_current_liabilities',
 'total_current_liabilities',
 'short_term_investments',
 'total_liabilities_change',
 'change_in_operating_assets_change']

# Create train and test set
## The split should happen based on the fiscal_date_ending column

In [22]:
stocks_df['symbol'].nunique()

3248

In [23]:
stocks_df['fiscal_date_ending'].nunique()

366

In [24]:
# Define the split ratio
split_ratio = 0.95

# Calculate the split index based on the ratio
split_index = int(split_ratio * len(stocks_df))

# Split the DataFrame into training and test sets
train_set = stocks_df[:split_index].copy().reset_index()
test_set = stocks_df[split_index:].copy().reset_index()

In [25]:
train_set

,level_0,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,...,total_non_current_liabilities_change,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,inflation,avg_volume,price
0,0,4,NEGG,2011-12-31,USD,1.686513e+06,5.284750e+06,3.598237e+06,3.598237e+06,-2.696820e+05,...,0.000000e+00,-4.042930e+05,1.384920e+05,0.0,0.103333,2.036667,8.266667,3.156842,1.375333e+05,2.196667
1,1,6,NEGG,2012-03-31,USD,1.241275e+06,3.315931e+06,2.074656e+06,2.074656e+06,4.548200e+05,...,0.000000e+00,-1.968819e+06,2.288830e+05,0.0,0.153333,1.823333,8.200000,2.069337,3.265667e+05,2.100000
2,2,8,NEGG,2012-06-30,USD,2.740468e+06,6.983128e+06,4.242660e+06,4.242660e+06,1.928212e+06,...,0.000000e+00,3.667197e+06,1.439705e+06,0.0,0.143333,1.643333,8.033333,2.069337,1.164967e+06,1.776667
3,3,10,NEGG,2012-09-30,USD,2.067378e+06,5.529120e+06,3.461742e+06,3.461742e+06,1.411658e+06,...,0.000000e+00,-1.454008e+06,1.432072e+06,0.0,0.160000,1.706667,7.800000,2.069337,1.498900e+06,1.760000
4,4,12,NEGG,2012-12-31,USD,2.066617e+06,5.542146e+06,3.475529e+06,3.475529e+06,5.926710e+05,...,0.000000e+00,1.302600e+04,7.068420e+05,0.0,0.143333,1.950000,7.733333,2.069337,2.201333e+05,1.930000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51443,51443,55782,GNK,2023-06-30,USD,6.103700e+07,9.055600e+07,2.951900e+07,2.258600e+07,1.302700e+07,...,-8.898000e+06,-3.835000e+06,5.382000e+06,0.0,5.260000,4.150000,3.700000,4.642850,1.423090e+07,14.085000
51444,51444,55783,GOOS,2023-06-30,CAD,5.520000e+07,8.480000e+07,2.960000e+07,2.960000e+07,-9.970000e+07,...,-1.540000e+07,-2.084000e+08,-8.760000e+07,0.0,5.260000,4.150000,3.700000,4.642850,1.648512e+07,16.985000
51445,51445,55784,NVGS,2023-06-30,USD,4.102800e+07,1.353350e+08,9.430700e+07,9.430700e+07,3.601100e+07,...,2.274670e+08,1.205000e+07,1.424000e+06,0.0,5.260000,4.150000,3.700000,4.642850,2.154745e+06,13.865000
51446,51446,55785,HMY,2023-06-30,USD,6.846000e+09,2.601600e+10,1.917000e+10,1.917000e+10,4.433000e+09,...,-1.025000e+09,2.757000e+09,3.056000e+09,0.0,5.260000,4.150000,3.700000,4.642850,6.005190e+07,4.186667
51447,51447,55786,MFC,2023-06-30,CAD,1.188900e+10,1.188900e+10,0.000000e+00,0.000000e+00,1.352000e+09,...,-8.320000e+08,1.889000e+09,-1.550000e+09,0.0,5.260000,4.150000,3.700000,4.642850,7.218514e+07,19.240000

In [26]:
test_set

,level_0,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,...,total_non_current_liabilities_change,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,inflation,avg_volume,price
0,51448,55787,PRMW,2023-06-30,USD,3.683000e+08,5.933000e+08,2.250000e+08,2.250000e+08,4.760000e+07,...,1.200000e+06,4.680000e+07,9.300000e+06,0.0,5.26,4.15,3.7,4.64285,2.258273e+07,14.715000
1,51449,55788,HDB,2023-06-30,USD,3.506653e+11,3.506653e+11,0.000000e+00,0.000000e+00,4.248574e+11,...,2.604244e+12,3.468461e+11,1.225817e+11,0.0,5.26,4.15,3.7,4.64285,3.967805e+07,65.295000
2,51450,55789,NIO,2023-06-30,CNY,8.695600e+07,8.771735e+09,8.684779e+09,8.684779e+09,-6.074115e+09,...,-1.850325e+09,-7.291779e+09,-9.416508e+09,0.0,5.26,4.15,3.7,4.64285,1.243728e+09,11.306667
3,51451,55790,RSKD,2023-06-30,USD,3.702300e+07,7.276600e+07,3.574300e+07,3.574300e+07,-2.208600e+07,...,-2.050000e+05,3.859000e+06,-1.138000e+06,0.0,5.26,4.15,3.7,4.64285,1.333272e+07,4.770000
4,51452,55791,MNDY,2023-06-30,USD,1.561630e+08,1.756790e+08,1.951600e+07,1.951600e+07,-1.216700e+07,...,-4.059000e+06,1.342300e+07,2.607600e+07,0.0,5.26,4.15,3.7,4.64285,1.405617e+07,179.110000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,54151,58499,KMX,2023-08-31,USD,6.967650e+08,7.073836e+09,6.377071e+09,4.020000e+07,3.295400e+07,...,-2.491010e+08,-6.132270e+08,1.824910e+08,0.0,5.33,4.38,3.8,4.64285,2.815696e+07,69.460000
2704,54152,58500,SNX,2023-08-31,USD,9.712730e+08,1.396062e+10,1.298934e+10,1.298934e+10,2.402330e+08,...,-6.911400e+08,-1.164756e+09,2.191620e+08,163462000.0,5.33,4.38,3.8,4.64285,6.004426e+06,98.775000
2705,54153,58501,WOR,2023-08-31,USD,1.974890e+08,1.193256e+09,9.957670e+08,9.957670e+08,7.770500e+07,...,-4.049750e+08,-3.560800e+07,7.861200e+07,0.0,5.33,4.38,3.8,4.64285,3.434682e+06,61.515000
2706,54154,58502,MKC,2023-08-31,USD,6.228000e+08,1.684700e+09,1.061900e+09,1.061900e+09,2.450000e+08,...,-7.152000e+08,2.550000e+07,1.123000e+08,0.0,5.33,4.38,3.8,4.64285,1.901748e+07,72.025000
2707,54155,58503,ACCD,2023-08-31,USD,8.731000e+07,1.937280e+08,1.064180e+08,5.531700e+07,-3.520800e+07,...,-1.120000e+06,7.276000e+06,-1.653400e+07,0.0,5.33,4.38,3.8,4.64285,5.518466e+06,10.165000

In [27]:
test_set['symbol'].nunique()

2708

In [28]:
columns_to_drop = ['fiscal_date_ending', 'reported_currency']
train_set.drop(columns_to_drop, axis=1, inplace=True)
test_set.drop(columns_to_drop, axis=1, inplace=True)

In [29]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2708 entries, 0 to 2707
Columns: 180 entries, level_0 to price
dtypes: float64(176), int64(2), object(2)
memory usage: 3.7+ MB

In [30]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51448 entries, 0 to 51447
Columns: 180 entries, level_0 to price
dtypes: float64(176), int64(2), object(2)
memory usage: 70.7+ MB

In [25]:
stocks_df_only_numeric = stocks_df.drop(['symbol', 'fiscal_date_ending', 'reported_currency', 'sector'], axis=1)
corr_matrix = stocks_df_only_numeric.corr()

In [26]:
corr_matrix["price"].sort_values(ascending=False)

price                                      1.000000
comprehensive_income_net_of_tax            0.223239
profit_loss                                0.220591
payments_for_repurchase_of_common_stock    0.184878
payments_for_repurchase_of_equity          0.183192
                                             ...
total_liabilities                         -0.020068
total_current_assets                      -0.020348
total_assets                              -0.020796
avg_interest_rate                         -0.028973
avg_volume                                -0.035336
Name: price, Length: 178, dtype: float64

In [27]:
import numpy as np

# Find the strong correlations (> 0.8)
strong_correlations = np.where(np.abs(corr_matrix) > 0.8)

# Create a DataFrame to display the strong correlations
strong_correlations_df = pd.DataFrame({
    'Feature1': stocks_df_only_numeric.columns[strong_correlations[0]],
    'Feature2': stocks_df_only_numeric.columns[strong_correlations[1]],
    'Correlation': corr_matrix.values[strong_correlations]
})

# Filter out the correlations where Feature1 is not equal to Feature2
strong_correlations_df = strong_correlations_df[strong_correlations_df['Feature1'] != strong_correlations_df['Feature2']]

# Display the strong correlations
strong_correlations_df

,Feature1,Feature2,Correlation
1,index,inflation,0.814864
3,gross_profit,total_revenue,0.840679
4,gross_profit,operating_income,0.928897
5,gross_profit,operating_expenses,0.818126
6,gross_profit,depreciation_and_amortization,0.852723
...,...,...,...
419,avg_interest_rate,avg_treasury_yield,0.850780
420,avg_treasury_yield,avg_interest_rate,0.850780
424,avg_global_commodities_index_value,inflation,0.890758
425,inflation,index,0.814864
426,inflation,avg_global_commodities_index_value,0.890758

In [28]:
strong_correlations_df['Feature1'].value_counts()

gross_profit                                          10
ebitda                                                10
depreciation_and_amortization                          8
net_income                                             7
ebit                                                   7
                                                      ..
proceeds_from_repayments_of_short_term_debt            1
payments_for_repurchase_of_common_stock                1
payments_for_repurchase_of_equity                      1
cash_and_cash_equivalents_at_carrying_value_change     1
change_in_receivables                                  1
Name: Feature1, Length: 80, dtype: int64

In [21]:
from sklearn.preprocessing import OneHotEncoder
from typing import Optional, List

def perform_one_hot_encoding(
    df: pd.DataFrame,
    encoder: OneHotEncoder,
    fit: bool = False,
    categorical_columns: Optional[List[str]] = None
) -> pd.DataFrame:
    """
    Given a dataframe with categorical columns this function will return a new dataframe
    that will replace these columns with the one hot encoding ones and will leave the rest
    of the columns unchanged.
    params:
    - fit -> If fit is True then fit_transform is called , otherwise only transform
    - categorical_columns -> A list with the names of the categorical columns we want to
    transform. If not given then columns with type category are used
    """

    if categorical_columns is None:
        categorical_columns = df.select_dtypes(include='category').columns.tolist()

    if fit: 
        encoded_df = pd.DataFrame(encoder.fit_transform(df[categorical_columns]).toarray(), columns=encoder.get_feature_names_out())
    else:
        encoded_df = pd.DataFrame(encoder.transform(df[categorical_columns]).toarray(), columns=encoder.get_feature_names_out())

    #merge one-hot encoded columns back with original DataFrame
    final_df = df.join(encoded_df)

    # Drop original categorical columns
    final_df.drop(categorical_columns, axis=1, inplace=True)
    return final_df

In [22]:
one_hot_encoder = OneHotEncoder(handle_unknown='error')
categorical_columns = ['sector']

df_train_ohe = perform_one_hot_encoding(
    df=train_set,
    encoder=one_hot_encoder,
    fit=True,
    categorical_columns=categorical_columns
)

In [23]:
df_train_ohe

,level_0,index,symbol,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,inflation,avg_volume,price,sector_ENERGY & TRANSPORTATION,sector_FINANCE,sector_LIFE SCIENCES,sector_MANUFACTURING,sector_REAL ESTATE & CONSTRUCTION,sector_TECHNOLOGY,sector_TRADE & SERVICES
0,0,1,NEGG,1686513.0,5284750.0,3598237.0,3598237.0,-269682.0,1992276.0,0.0,...,3.156842,1.375333e+05,2.196667,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,2,NEGG,1241275.0,3315931.0,2074656.0,2074656.0,454820.0,809392.0,0.0,...,2.069337,3.265667e+05,2.100000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,3,NEGG,2740468.0,6983128.0,4242660.0,4242660.0,1928212.0,901732.0,0.0,...,2.069337,1.164967e+06,1.776667,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,4,NEGG,2067378.0,5529120.0,3461742.0,3461742.0,1411658.0,749865.0,0.0,...,2.069337,1.498900e+06,1.760000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,5,NEGG,2066617.0,5542146.0,3475529.0,3475529.0,592671.0,1642633.0,0.0,...,2.069337,2.201333e+05,1.930000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43646,43646,47273,MGIC,41821000.0,147146000.0,105325000.0,105325000.0,14593000.0,20999000.0,2714000.0,...,4.642850,4.466285e+05,12.670000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43647,43647,47274,LAZR,-14624000.0,14509000.0,29133000.0,5451000.0,-141895000.0,58219000.0,69052000.0,...,4.642850,1.643565e+08,6.415000,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43648,43648,47275,NUVB,-7802000.0,0.0,7790000.0,0.0,-26521000.0,7734000.0,18787000.0,...,4.642850,8.672408e+06,1.615000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43649,43649,47276,BGC,145486000.0,532867000.0,387381000.0,267214000.0,-366985000.0,99421000.0,0.0,...,4.642850,5.464501e+07,4.300000,0.0,1.0,0.0,0.0,0.0,0.0,0.0
43650,43650,47277,GB,51677000.0,86777000.0,35100000.0,35100000.0,13797000.0,57625000.0,0.0,...,4.642850,3.281940e+05,5.430000,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
 train_set['sector'].isna().any()

False

In [24]:
df_test_ohe = perform_one_hot_encoding(
    df=test_set,
    encoder=one_hot_encoder,
    fit=False,
    categorical_columns=categorical_columns
)

In [25]:
df_test_ohe

,level_0,index,symbol,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,inflation,avg_volume,price,sector_ENERGY & TRANSPORTATION,sector_FINANCE,sector_LIFE SCIENCES,sector_MANUFACTURING,sector_REAL ESTATE & CONSTRUCTION,sector_TECHNOLOGY,sector_TRADE & SERVICES
0,43651,47278,UBS,8.743997e+09,8.744000e+09,2.729000e+03,2.729000e+03,5.302000e+09,5.584000e+09,0.00,...,4.64285,75503607.0,19.580,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,43652,47280,KRNT,1.307200e+07,4.777800e+07,3.470600e+07,3.470600e+07,-2.414100e+07,8.948000e+06,13082000.00,...,4.64285,6544005.0,20.355,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,43653,47281,NMM,1.178850e+08,3.095220e+08,1.916370e+08,1.916370e+08,1.012390e+08,1.949900e+07,0.00,...,4.64285,2041326.0,21.485,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,43654,47282,GENI,9.532000e+06,9.722900e+07,8.769700e+07,8.769700e+07,-2.220200e+07,1.807400e+07,6269000.00,...,4.64285,21068239.0,4.715,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,43655,47283,NVX,1.352946e+06,2.104441e+06,7.514942e+05,7.514942e+05,-1.660437e+07,1.508248e+07,1760091.75,...,4.64285,637209.5,2.495,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2293,45944,49576,FDX,-7.000000e+07,2.123600e+10,7.000000e+07,1.926000e+09,1.503000e+09,4.750000e+08,0.00,...,4.64285,47527132.0,258.925,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2294,45945,49577,WBA,6.588000e+09,3.527100e+10,3.683300e+10,2.882600e+10,-4.770000e+08,7.123000e+09,0.00,...,4.64285,206094008.0,29.230,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2295,45946,49578,STZ,1.257800e+09,5.191700e+09,1.873700e+09,1.257100e+09,7.647000e+08,4.931000e+08,0.00,...,4.64285,22997998.0,259.465,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2296,45947,49579,ACN,2.255323e+09,1.656458e+10,1.430926e+10,1.103552e+10,2.359288e+09,2.822909e+09,0.00,...,4.64285,49465678.5,312.465,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2297,45948,49580,NKE,5.595000e+09,1.284100e+10,1.160400e+10,7.230000e+09,1.221000e+09,4.374000e+09,0.00,...,4.64285,175754983.5,110.380,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [28]:
df_train_ohe.drop(['level_0', 'index', 'symbol'], axis=1, inplace=True)
df_test_ohe.drop(['level_0', 'index', 'symbol'], axis=1, inplace=True)