In [1]:
import sqlite3

import pandas as pd

db_conn = sqlite3.connect('/home/orestis/code/Orestis/InvestorAPI/app/database/ibd.db')

# IBD DATA

In [18]:
query = "SELECT * FROM stocks_with_sector"
df = pd.read_sql(query, db_conn)

In [19]:
# Convert 'registered_date' to datetime
df['registered_date'] = pd.to_datetime(df['registered_date'], format='%d-%m-%Y')

# Sort the DataFrame based on 'symbol' and 'registered_date'
df.sort_values(by=['symbol', 'registered_date'], inplace=True)

# Add a new column 'closing_price_after_1_m' with the closing price for the next day
df['closing_price_after_1_w'] = df.groupby('symbol')['closing_price'].shift(-1)

# Calculate the percentage change
df['percentage_change_after_1_w'] = ((df['closing_price_after_1_w'] - df['closing_price']) / df['closing_price']) * 100

# If you want to keep only the rows where the next day's closing price is available,
# you can use dropna
df = df.dropna(subset=['closing_price_after_1_w', 'percentage_change_after_1_w'])

# Reset index if needed
df.reset_index(drop=True, inplace=True)

In [20]:
df[['registered_date', 'closing_price', 'closing_price_after_1_w', 'percentage_change_after_1_w']][df['symbol'] == 'MSFT']

,registered_date,closing_price,closing_price_after_1_w,percentage_change_after_1_w
101586,2022-07-29,280.6,282.9,0.819672
101587,2022-08-05,282.9,291.9,3.181336
101588,2022-08-12,291.9,286.2,-1.952724
101589,2022-08-19,286.2,268.1,-6.324249
101590,2022-08-26,268.1,256.1,-4.475942
...,...,...,...,...
101651,2023-11-03,352.8,369.7,4.790249
101652,2023-11-10,369.7,369.8,0.027049
101653,2023-11-17,369.8,377.4,2.055165
101654,2023-11-24,377.4,374.5,-0.768415
101655,2023-12-01,374.5,374.2,-0.080107

# Sector price

In [2]:
query = '''
SELECT AVG(sts.close_price), substr(sts.registered_date, 4, 7) AS month_year , sts.registered_date
FROM stock_time_series as sts
INNER JOIN stock_overview as so
ON sts.symbol = so.symbol
WHERE so.sector = 'TECHNOLOGY' AND sts.registered_date_ts > strftime('%s', '2018-01-01')
GROUP BY month_year
ORDER BY sts.registered_date_ts ASC
'''
sector_df = pd.read_sql(query, db_conn)

In [3]:
sector_df

    AVG(sts.close_price) month_year registered_date
0              61.879249    01-2018      31-01-2018
1              59.897092    02-2018      28-02-2018
2              60.896907    03-2018      29-03-2018
3              59.378022    04-2018      30-04-2018
4              60.520839    05-2018      31-05-2018
..                   ...        ...             ...
67             62.683998    08-2023      31-08-2023
68             62.632472    09-2023      05-09-2023
69             59.367838    10-2023      04-10-2023
70             61.907604    11-2023      03-11-2023
71             66.309013    12-2023      15-12-2023

[72 rows x 3 columns]

In [5]:
sector_df['month_year'] = pd.to_datetime(sector_df['month_year'], format='%m-%Y')

In [6]:
sector_df

    AVG(sts.close_price) month_year registered_date
0              61.879249 2018-01-01      31-01-2018
1              59.897092 2018-02-01      28-02-2018
2              60.896907 2018-03-01      29-03-2018
3              59.378022 2018-04-01      30-04-2018
4              60.520839 2018-05-01      31-05-2018
..                   ...        ...             ...
67             62.683998 2023-08-01      31-08-2023
68             62.632472 2023-09-01      05-09-2023
69             59.367838 2023-10-01      04-10-2023
70             61.907604 2023-11-01      03-11-2023
71             66.309013 2023-12-01      15-12-2023

[72 rows x 3 columns]

In [7]:
sector_df['last_day_of_month'] = sector_df['month_year'] + pd.offsets.MonthEnd(0)

In [12]:
sector_df.dtypes

AVG(sts.close_price)           float64
month_year              datetime64[ns]
registered_date                 object
last_day_of_month       datetime64[ns]
dtype: object

# Create stock time series

In [14]:
query = '''
        SELECT 
            income_statement.total_revenue,
            income_statement.gross_profit,
            income_statement.operating_income,
            income_statement.net_income,
            income_statement.ebitda,
            income_statement.net_interest_income,

            balance_sheet.total_assets,
            balance_sheet.total_liabilities,
            balance_sheet.total_shareholder_equity,
            balance_sheet.total_current_assets,
            balance_sheet.total_current_liabilities,
            balance_sheet.cash_and_cash_equivalents_at_carrying_value,
            balance_sheet.long_term_debt,
            balance_sheet.current_net_receivables,
            balance_sheet.inventory,
            balance_sheet.property_plant_equipment,
            
            cash_flow.operating_cashflow,
            cash_flow.capital_expenditures,
            cash_flow.cashflow_from_investment,
            cash_flow.cashflow_from_financing,
            cash_flow.dividend_payout,
            cash_flow.proceeds_from_issuance_of_long_term_debt_and_capital_securities_net,
            cash_flow.payments_for_repurchase_of_equity,
            
            stock_overview.sector,
            stock_overview.symbol,
            income_statement.fiscal_date_ending
        FROM income_statement
        INNER JOIN balance_sheet
            ON income_statement.fiscal_date_ending = balance_sheet.fiscal_date_ending  AND balance_sheet.symbol = 'MSFT'
        INNER JOIN cash_flow
            ON income_statement.fiscal_date_ending = cash_flow.fiscal_date_ending  AND cash_flow.symbol = 'MSFT'
        INNER JOIN stock_overview
            ON income_statement.symbol = stock_overview.symbol  AND stock_overview.symbol = 'MSFT'
        WHERE income_statement.symbol = 'MSFT'
        ORDER BY DATE(income_statement.fiscal_date_ending)
'''

stock_fundamental_df = pd.read_sql(query, db_conn)

In [23]:
stock_fundamental_df

,total_revenue,gross_profit,operating_income,net_income,ebitda,net_interest_income,total_assets,total_liabilities,total_shareholder_equity,total_current_assets,...,operating_cashflow,capital_expenditures,cashflow_from_investment,cashflow_from_financing,dividend_payout,proceeds_from_issuance_of_long_term_debt_and_capital_securities_net,payments_for_repurchase_of_equity,sector,symbol,fiscal_date_ending
0,3.179600e+10,2.004800e+10,1.025800e+10,8.420000e+09,1.158700e+10,-672000000.0,2.588590e+11,1.667310e+11,9.212800e+10,1.568740e+11,...,466000000.0,3.707000e+09,-4.200000e+09,-1.321600e+10,3.544000e+09,None,6.413000e+09,TECHNOLOGY,MSFT,2018-12-31
1,2.999300e+10,2.040100e+10,1.034100e+10,8.809000e+09,1.158800e+10,-671000000.0,2.632810e+11,1.684170e+11,9.486400e+10,1.598870e+11,...,490000000.0,2.565000e+09,-1.363000e+09,-7.601000e+09,3.526000e+09,None,4.753000e+09,TECHNOLOGY,MSFT,2019-03-31
2,3.371700e+10,2.330500e+10,1.240500e+10,1.318700e+10,1.366500e+10,-669000000.0,2.865560e+11,1.842260e+11,1.023300e+11,1.755520e+11,...,509000000.0,4.051000e+09,-7.257000e+09,-8.686000e+09,3.521000e+09,None,4.633000e+09,TECHNOLOGY,MSFT,2019-06-30
3,3.242800e+10,2.264900e+10,1.268600e+10,1.067800e+10,1.388200e+10,-637000000.0,2.789550e+11,1.728940e+11,1.060610e+11,1.658960e+11,...,531000000.0,3.385000e+09,-1.776000e+09,-1.020900e+10,3.510000e+09,None,4.912000e+09,TECHNOLOGY,MSFT,2019-09-30
4,3.632200e+10,2.454800e+10,1.389100e+10,1.164900e+10,1.531300e+10,-654000000.0,2.827940e+11,1.726850e+11,1.101090e+11,1.670740e+11,...,563000000.0,3.545000e+09,-6.036000e+09,-8.915000e+09,3.886000e+09,None,5.206000e+09,TECHNOLOGY,MSFT,2019-12-31
5,3.431500e+10,2.404600e+10,1.297500e+10,1.075200e+10,1.394800e+10,-614000000.0,2.854490e+11,1.709480e+11,1.145010e+11,1.705050e+11,...,592000000.0,3.767000e+09,5.100000e+07,-1.464500e+10,3.876000e+09,None,7.059000e+09,TECHNOLOGY,MSFT,2020-03-31
6,3.803300e+10,2.569400e+10,1.340700e+10,1.120200e+10,1.469600e+10,-686000000.0,3.013110e+11,1.830070e+11,1.183040e+11,1.819150e+11,...,479000000.0,4.744000e+09,-4.462000e+09,-1.226200e+10,3.865000e+09,None,5.791000e+09,TECHNOLOGY,MSFT,2020-06-30
7,3.672400e+10,2.615200e+10,1.587600e+10,1.389300e+10,1.730200e+10,-589000000.0,3.010010e+11,1.776090e+11,1.233920e+11,1.770770e+11,...,583000000.0,4.907000e+09,-5.371000e+09,-1.028900e+10,3.856000e+09,None,6.743000e+09,TECHNOLOGY,MSFT,2020-09-30
8,4.255800e+10,2.888200e+10,1.789700e+10,1.546300e+10,1.953500e+10,-571000000.0,3.041370e+11,1.739010e+11,1.302360e+11,1.739730e+11,...,576000000.0,4.174000e+09,-1.669000e+09,-1.363400e+10,4.230000e+09,None,6.535000e+09,TECHNOLOGY,MSFT,2020-12-31
9,4.105900e+10,2.866100e+10,1.704800e+10,1.545700e+10,1.848500e+10,-633000000.0,3.088790e+11,1.743740e+11,1.345050e+11,1.656140e+11,...,633000000.0,5.089000e+09,-9.684000e+09,-1.319200e+10,4.221000e+09,None,6.930000e+09,TECHNOLOGY,MSFT,2021-03-31
10,4.559500e+10,3.216100e+10,1.909500e+10,1.645800e+10,2.061300e+10,-553000000.0,3.337790e+11,1.917910e+11,1.419880e+11,1.844060e+11,...,646000000.0,6.452000e+09,-1.085300e+10,-1.137100e+10,4.214000e+09,None,7.177000e+09,TECHNOLOGY,MSFT,2021-06-30
11,4.474300e+10,3.167100e+10,2.023800e+10,2.050500e+10,2.172800e+10,-539000000.0,3.354180e+11,1.834400e+11,1.519780e+11,1.743260e+11,...,670000000.0,5.810000e+09,-3.250000e+09,-1.627600e+10,4.206000e+09,None,7.684000e+09,TECHNOLOGY,MSFT,2021-09-30
12,5.122800e+10,3.476800e+10,2.224700e+10,1.876500e+10,2.375000e+10,-525000000.0,3.403890e+11,1.803790e+11,1.600100e+11,1.741880e+11,...,548000000.0,5.865000e+09,-1.161000e+09,-1.198600e+10,4.652000e+09,None,7.433000e+09,TECHNOLOGY,MSFT,2021-12-31
13,4.873200e+10,3.374500e+10,2.036400e+10,1.672800e+10,2.148400e+10,-503000000.0,3.446070e+11,1.816830e+11,1.629240e+11,1.539220e+11,...,835000000.0,5.340000e+09,-1.617100e+10,-1.734500e+10,4.645000e+09,None,8.822000e+09,TECHNOLOGY,MSFT,2022-03-31
14,5.140600e+10,3.543600e+10,2.053400e+10,1.674000e+10,2.178400e+10,-496000000.0,3.648400e+11,1.982980e+11,1.665420e+11,1.696840e+11,...,744000000.0,6.871000e+09,-9.729000e+09,-1.326900e+10,4.632000e+09,None,8.757000e+09,TECHNOLOGY,MSFT,2022-06-30
15,4.963600e+10,3.467000e+10,2.151800e+10,1.755600e+10,2.289400e+10,-500000000.0,3.597840e+11,1.862180e+11,1.735660e+11,1.608120e+11,...,767000000.0,6.283000e+09,-3.132000e+09,-1.088300e+10,4.621000e+09,None,5.573000e+09,TECHNOLOGY,MSFT,2022-09-30
16,5.203200e+10,3.525900e+10,2.039900e+10,1.642500e+10,2.191800e+10,-490000000.0,3.645520e+11,1.814160e+11,1.831360e+11,1.578230e+11,...,764000000.0,6.274000e+09,-7.150000e+09,-1.134900e+10,5.066000e+09,None,5.459000e+09,TECHNOLOGY,MSFT,2022-12-31
17,5.240500e+10,3.672900e+10,2.235200e+10,1.829900e+10,2.412900e+10,-496000000.0,3.800880e+11,1.854050e+11,1.946830e+11,1.638890e+11,...,822000000.0,6.607000e+09,-3.264000e+09,-1.029000e+10,5.059000e+09,None,5.509000e+09,TECHNOLOGY,MSFT,2023-03-31
18,5.565900e+10,3.939400e+10,2.425400e+10,2.008100e+10,2.616700e+10,-482000000.0,4.119760e+11,2.057530e+11,2.062230e+11,1.842570e+11,...,854000000.0,8.943000e+09,-9.134000e+09,-1.141300e+10,5.054000e+09,None,5.704000e+09,TECHNOLOGY,MSFT,2023-06-30
19,5.602900e+10,4.021500e+10,2.689500e+10,2.229100e+10,2.882500e+10,-525000000.0,4.457850e+11,2.250710e+11,2.207140e+11,2.075860e+11,...,944000000.0,9.917000e+09,5.030000e+08,1.476100e+10,5.051000e+09,None,4.831000e+09,TECHNOLOGY,MSFT,2023-09-30

In [47]:
start_date = stock_fundamental_df['fiscal_date_ending'].iloc[0]
end_date = stock_fundamental_df['fiscal_date_ending'].iloc[-1] # Update this to be current date?
pd.date_range(start=start_date, end=end_date, freq='MS')

DatetimeIndex(['2019-01-01', '2019-02-01', '2019-03-01', '2019-04-01',
               '2019-05-01', '2019-06-01', '2019-07-01', '2019-08-01',
               '2019-09-01', '2019-10-01', '2019-11-01', '2019-12-01',
               '2020-01-01', '2020-02-01', '2020-03-01', '2020-04-01',
               '2020-05-01', '2020-06-01', '2020-07-01', '2020-08-01',
               '2020-09-01', '2020-10-01', '2020-11-01', '2020-12-01',
               '2021-01-01', '2021-02-01', '2021-03-01', '2021-04-01',
               '2021-05-01', '2021-06-01', '2021-07-01', '2021-08-01',
               '2021-09-01', '2021-10-01', '2021-11-01', '2021-12-01',
               '2022-01-01', '2022-02-01', '2022-03-01', '2022-04-01',
               '2022-05-01', '2022-06-01', '2022-07-01', '2022-08-01',
               '2022-09-01', '2022-10-01', '2022-11-01', '2022-12-01',
               '2023-01-01', '2023-02-01', '2023-03-01', '2023-04-01',
               '2023-05-01', '2023-06-01', '2023-07-01', '2023-08-01',
               '2023-09-01'],
              dtype='datetime64[ns]', freq='MS')

In [22]:
pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq='MS'), columns=['Date'])

         Date
0  2019-01-01
1  2019-02-01
2  2019-03-01
3  2019-04-01
4  2019-05-01
5  2019-06-01
6  2019-07-01
7  2019-08-01
8  2019-09-01
9  2019-10-01
10 2019-11-01
11 2019-12-01
12 2020-01-01
13 2020-02-01
14 2020-03-01
15 2020-04-01
16 2020-05-01
17 2020-06-01
18 2020-07-01
19 2020-08-01
20 2020-09-01
21 2020-10-01
22 2020-11-01
23 2020-12-01
24 2021-01-01
25 2021-02-01
26 2021-03-01
27 2021-04-01
28 2021-05-01
29 2021-06-01
30 2021-07-01
31 2021-08-01
32 2021-09-01
33 2021-10-01
34 2021-11-01
35 2021-12-01
36 2022-01-01
37 2022-02-01
38 2022-03-01
39 2022-04-01
40 2022-05-01
41 2022-06-01
42 2022-07-01
43 2022-08-01
44 2022-09-01
45 2022-10-01
46 2022-11-01
47 2022-12-01
48 2023-01-01
49 2023-02-01
50 2023-03-01
51 2023-04-01
52 2023-05-01
53 2023-06-01
54 2023-07-01
55 2023-08-01
56 2023-09-01

In [40]:
def find_latest_financials_data(
    start_date,
    financials_time_series_df: pd.DataFrame,
    days: int = 30 * 6
):
    lower_bound = start_date
    upper_bound = lower_bound + pd.DateOffset(days=days)

    upper_bound = start_date
    lower_bound = start_date - pd.DateOffset(days=days)
    
    financials_time_series_df['fiscal_date_ending'] = pd.to_datetime(financials_time_series_df['fiscal_date_ending'], format='%Y-%m-%d')
    # Filter the DataFrame
    filtered_df = financials_time_series_df[
        (financials_time_series_df['fiscal_date_ending'] >= lower_bound) & 
        (financials_time_series_df['fiscal_date_ending'] <= upper_bound)
    ]

    if len(filtered_df) == 0:
        return None

    # Sort the filtered DataFrame by timestamp
    filtered_df = filtered_df.sort_values(by='fiscal_date_ending')

    # Calculate pct change between first and last row
    #pct_change = ((filtered_df[target_column].iloc[-1] - filtered_df[target_column].iloc[0]) / filtered_df[target_column].iloc[0])
    return filtered_df['total_revenue'].iloc[-1]

In [41]:
msft_time_series_df = pd.DataFrame(pd.date_range(start=start_date, end=end_date, freq='MS'), columns=['Date'])

In [42]:
msft_time_series_df.dtypes

Date    datetime64[ns]
dtype: object

In [43]:
msft_time_series_df['total_revenue'] = msft_time_series_df['Date'].apply(
    find_latest_financials_data,
    financials_time_series_df=stock_fundamental_df
)

In [46]:
msft_time_series_df

         Date  total_revenue
0  2019-01-01   3.179600e+10
1  2019-02-01   3.179600e+10
2  2019-03-01   3.179600e+10
3  2019-04-01   2.999300e+10
4  2019-05-01   2.999300e+10
5  2019-06-01   2.999300e+10
6  2019-07-01   3.371700e+10
7  2019-08-01   3.371700e+10
8  2019-09-01   3.371700e+10
9  2019-10-01   3.242800e+10
10 2019-11-01   3.242800e+10
11 2019-12-01   3.242800e+10
12 2020-01-01   3.632200e+10
13 2020-02-01   3.632200e+10
14 2020-03-01   3.632200e+10
15 2020-04-01   3.431500e+10
16 2020-05-01   3.431500e+10
17 2020-06-01   3.431500e+10
18 2020-07-01   3.803300e+10
19 2020-08-01   3.803300e+10
20 2020-09-01   3.803300e+10
21 2020-10-01   3.672400e+10
22 2020-11-01   3.672400e+10
23 2020-12-01   3.672400e+10
24 2021-01-01   4.255800e+10
25 2021-02-01   4.255800e+10
26 2021-03-01   4.255800e+10
27 2021-04-01   4.105900e+10
28 2021-05-01   4.105900e+10
29 2021-06-01   4.105900e+10
30 2021-07-01   4.559500e+10
31 2021-08-01   4.559500e+10
32 2021-09-01   4.559500e+10
33 2021-10-01   4.474300e+10
34 2021-11-01   4.474300e+10
35 2021-12-01   4.474300e+10
36 2022-01-01   5.122800e+10
37 2022-02-01   5.122800e+10
38 2022-03-01   5.122800e+10
39 2022-04-01   4.873200e+10
40 2022-05-01   4.873200e+10
41 2022-06-01   4.873200e+10
42 2022-07-01   5.140600e+10
43 2022-08-01   5.140600e+10
44 2022-09-01   5.140600e+10
45 2022-10-01   4.963600e+10
46 2022-11-01   4.963600e+10
47 2022-12-01   4.963600e+10
48 2023-01-01   5.203200e+10
49 2023-02-01   5.203200e+10
50 2023-03-01   5.203200e+10
51 2023-04-01   5.240500e+10
52 2023-05-01   5.240500e+10
53 2023-06-01   5.240500e+10
54 2023-07-01   5.565900e+10
55 2023-08-01   5.565900e+10
56 2023-09-01   5.565900e+10

In [45]:
stock_fundamental_df[['total_revenue', 'fiscal_date_ending']]

    total_revenue fiscal_date_ending
0    3.179600e+10         2018-12-31
1    2.999300e+10         2019-03-31
2    3.371700e+10         2019-06-30
3    3.242800e+10         2019-09-30
4    3.632200e+10         2019-12-31
5    3.431500e+10         2020-03-31
6    3.803300e+10         2020-06-30
7    3.672400e+10         2020-09-30
8    4.255800e+10         2020-12-31
9    4.105900e+10         2021-03-31
10   4.559500e+10         2021-06-30
11   4.474300e+10         2021-09-30
12   5.122800e+10         2021-12-31
13   4.873200e+10         2022-03-31
14   5.140600e+10         2022-06-30
15   4.963600e+10         2022-09-30
16   5.203200e+10         2022-12-31
17   5.240500e+10         2023-03-31
18   5.565900e+10         2023-06-30
19   5.602900e+10         2023-09-30