In [1]:
import sqlite3

import pandas as pd

db_conn = sqlite3.connect('/Users/orestis/MyProjects/InvestorAPI/app/database/ibd.db')

In [18]:
query = "SELECT * FROM stocks_with_sector"
df = pd.read_sql(query, db_conn)

In [19]:
# Convert 'registered_date' to datetime
df['registered_date'] = pd.to_datetime(df['registered_date'], format='%d-%m-%Y')

# Sort the DataFrame based on 'symbol' and 'registered_date'
df.sort_values(by=['symbol', 'registered_date'], inplace=True)

# Add a new column 'closing_price_after_1_m' with the closing price for the next day
df['closing_price_after_1_w'] = df.groupby('symbol')['closing_price'].shift(-1)

# Calculate the percentage change
df['percentage_change_after_1_w'] = ((df['closing_price_after_1_w'] - df['closing_price']) / df['closing_price']) * 100

# If you want to keep only the rows where the next day's closing price is available,
# you can use dropna
df = df.dropna(subset=['closing_price_after_1_w', 'percentage_change_after_1_w'])

# Reset index if needed
df.reset_index(drop=True, inplace=True)

In [20]:
df[['registered_date', 'closing_price', 'closing_price_after_1_w', 'percentage_change_after_1_w']][df['symbol'] == 'MSFT']

,registered_date,closing_price,closing_price_after_1_w,percentage_change_after_1_w
101586,2022-07-29,280.6,282.9,0.819672
101587,2022-08-05,282.9,291.9,3.181336
101588,2022-08-12,291.9,286.2,-1.952724
101589,2022-08-19,286.2,268.1,-6.324249
101590,2022-08-26,268.1,256.1,-4.475942
...,...,...,...,...
101651,2023-11-03,352.8,369.7,4.790249
101652,2023-11-10,369.7,369.8,0.027049
101653,2023-11-17,369.8,377.4,2.055165
101654,2023-11-24,377.4,374.5,-0.768415
101655,2023-12-01,374.5,374.2,-0.080107