In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('/Users/orestis/MyProjects/InvestorAPI/app/database/ibd.db')

In [3]:
query = "SELECT * FROM feature_store ORDER BY DATE(fiscal_date_ending)"

stocks_df = pd.read_sql(query, conn)

In [4]:
stocks_df

,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,avg_global_commodities_index_value,inflation,avg_volume,price
0,NEGG,2011-09-30,USD,2.417031e+06,5.689043e+06,3.272012e+06,3.272012e+06,1.658477e+06,795212.0,0.0,...,NaN,NaN,NaN,0.073333,2.046667,8.633333,175.032280,3.156842,7.600000e+04,1.750000
1,NEGG,2011-12-31,USD,1.686513e+06,5.284750e+06,3.598237e+06,3.598237e+06,-2.696820e+05,1992276.0,0.0,...,-4.042930e+05,138492.0,0.0,0.103333,2.036667,8.266667,181.335364,3.156842,1.375333e+05,2.196667
2,NEGG,2012-03-31,USD,1.241275e+06,3.315931e+06,2.074656e+06,2.074656e+06,4.548200e+05,809392.0,0.0,...,-1.968819e+06,228883.0,0.0,0.153333,1.823333,8.200000,171.818546,2.069337,3.265667e+05,2.100000
3,NEGG,2012-06-30,USD,2.740468e+06,6.983128e+06,4.242660e+06,4.242660e+06,1.928212e+06,901732.0,0.0,...,3.667197e+06,1439705.0,0.0,0.143333,1.643333,8.033333,170.295168,2.069337,1.164967e+06,1.776667
4,NEGG,2012-09-30,USD,2.067378e+06,5.529120e+06,3.461742e+06,3.461742e+06,1.411658e+06,749865.0,0.0,...,-1.454008e+06,1432072.0,0.0,0.160000,1.706667,7.800000,170.093088,2.069337,1.498900e+06,1.760000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52322,KR,2023-08-12,USD,7.293000e+09,3.376000e+10,2.646700e+10,2.647500e+10,-4.790000e+08,0.0,0.0,...,-1.125200e+10,-279000000.0,6000000.0,NaN,NaN,NaN,NaN,4.642850,1.001421e+08,45.770000
52323,SCS,2023-08-25,USD,2.834000e+08,8.546000e+08,5.698000e+08,5.712000e+08,4.100000e+07,13100000.0,0.0,...,1.027000e+08,24000000.0,0.0,NaN,NaN,NaN,NaN,4.642850,1.643109e+07,10.060000
52324,GIS,2023-08-27,USD,8.300000e+08,4.787700e+09,3.957700e+09,3.134200e+09,9.300000e+08,839300000.0,0.0,...,-3.469000e+08,-187200000.0,464300000.0,NaN,NaN,NaN,NaN,4.642850,8.297249e+07,66.440000
52325,SCHL,2023-08-31,USD,-9.770000e+07,2.299000e+08,3.276000e+08,1.300000e+08,-9.910000e+07,184200000.0,0.0,...,-2.947000e+08,-108300000.0,30300000.0,NaN,NaN,NaN,NaN,4.642850,6.078606e+06,36.170000
52326,FDX,2023-08-31,USD,1.195400e+10,2.168100e+10,9.727000e+09,1.925000e+09,1.485000e+09,56000000.0,0.0,...,4.450000e+08,446000000.0,318000000.0,NaN,NaN,NaN,NaN,4.642850,3.636288e+07,261.390000

In [5]:
stocks_df.columns

Index(['symbol', 'fiscal_date_ending', 'reported_currency', 'gross_profit',
       'total_revenue', 'cost_of_revenue', 'cost_of_goods_and_services_sold',
       'operating_income', 'selling_general_and_administrative',
       'research_and_development',
       ...
       'total_revenue_change', 'total_shareholder_equity_change',
       'treasury_stock_change', 'avg_interest_rate', 'avg_treasury_yield',
       'avg_unemployment_rate', 'avg_global_commodities_index_value',
       'inflation', 'avg_volume', 'price'],
      dtype='object', length=181)

In [6]:
stocks_df['sector'].value_counts()

MANUFACTURING                 9058
LIFE SCIENCES                 8778
TECHNOLOGY                    7917
TRADE & SERVICES              7796
FINANCE                       7441
ENERGY & TRANSPORTATION       6933
REAL ESTATE & CONSTRUCTION    4404
Name: sector, dtype: int64

In [7]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52327 entries, 0 to 52326
Columns: 181 entries, symbol to price
dtypes: float64(177), object(4)
memory usage: 72.3+ MB

In [8]:
stocks_df['price'].describe()

count    51316.000000
mean        72.286084
std        157.768873
min          0.125000
25%         17.135000
50%         37.325000
75%         77.616250
max       6191.443333
Name: price, dtype: float64

In [9]:
columns_with_null = stocks_df.columns[stocks_df.isna().any()].tolist()
columns_with_null

['accumulated_depreciation_amortization_ppe_change',
 'capital_expenditures_change',
 'capital_lease_obligations_change',
 'cash_and_cash_equivalents_at_carrying_value_change',
 'cash_and_short_term_investments_change',
 'cashflow_from_financing_change',
 'cashflow_from_investment_change',
 'change_in_inventory_change',
 'change_in_operating_assets_change',
 'change_in_operating_liabilities_change',
 'change_in_receivables_change',
 'common_stock_change',
 'common_stock_shares_outstanding_change',
 'comprehensive_income_net_of_tax_change',
 'cost_of_goods_and_services_sold_change',
 'cost_of_revenue_change',
 'current_accounts_payable_change',
 'current_debt_change',
 'current_long_term_debt_change',
 'current_net_receivables_change',
 'deferred_revenue_change',
 'depreciation_change',
 'depreciation_and_amortization_change',
 'depreciation_depletion_and_amortization_change',
 'dividend_payout_change',
 'dividend_payout_common_stock_change',
 'dividend_payout_preferred_stock_change',
 'ebit_change',
 'ebitda_change',
 'goodwill_change',
 'gross_profit_change',
 'income_before_tax_change',
 'income_tax_expense_change',
 'intangible_assets_change',
 'intangible_assets_excluding_goodwill_change',
 'interest_and_debt_expense_change',
 'interest_expense_change',
 'interest_income_change',
 'inventory_change',
 'investment_income_net_change',
 'investments_change',
 'long_term_debt_change',
 'long_term_debt_noncurrent_change',
 'long_term_investments_change',
 'net_income_change',
 'net_income_from_continuing_operations_change',
 'net_interest_income_change',
 'non_interest_income_change',
 'operating_cashflow_change',
 'operating_expenses_change',
 'operating_income_change',
 'other_current_assets_change',
 'other_current_liabilities_change',
 'other_non_current_assets_change',
 'other_non_current_liabilities_change',
 'other_non_operating_income_change',
 'payments_for_operating_activities_change',
 'payments_for_repurchase_of_common_stock_change',
 'payments_for_repurchase_of_equity_change',
 'payments_for_repurchase_of_preferred_stock_change',
 'proceeds_from_issuance_of_common_stock_change',
 'proceeds_from_issuance_of_long_term_debt_and_capital_securities_net_change',
 'proceeds_from_issuance_of_preferred_stock_change',
 'proceeds_from_operating_activities_change',
 'proceeds_from_repayments_of_short_term_debt_change',
 'proceeds_from_repurchase_of_equity_change',
 'proceeds_from_sale_of_treasury_stock_change',
 'profit_loss_change',
 'property_plant_equipment_change',
 'research_and_development_change',
 'retained_earnings_change',
 'selling_general_and_administrative_change',
 'short_long_term_debt_total_change',
 'short_term_debt_change',
 'short_term_investments_change',
 'total_assets_change',
 'total_current_assets_change',
 'total_current_liabilities_change',
 'total_liabilities_change',
 'total_non_current_assets_change',
 'total_non_current_liabilities_change',
 'total_revenue_change',
 'total_shareholder_equity_change',
 'treasury_stock_change',
 'avg_interest_rate',
 'avg_treasury_yield',
 'avg_unemployment_rate',
 'avg_global_commodities_index_value',
 'avg_volume',
 'price']

In [10]:
stocks_df.dropna(subset=columns_with_null, inplace=True)
stocks_df.reset_index(inplace=True)

In [11]:
stocks_df

,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,...,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,avg_global_commodities_index_value,inflation,avg_volume,price
0,1,NEGG,2011-12-31,USD,1.686513e+06,5.284750e+06,3.598237e+06,3.598237e+06,-2.696820e+05,1.992276e+06,...,-4.042930e+05,1.384920e+05,0.0,0.103333,2.036667,8.266667,181.335364,3.156842,1.375333e+05,2.196667
1,2,NEGG,2012-03-31,USD,1.241275e+06,3.315931e+06,2.074656e+06,2.074656e+06,4.548200e+05,8.093920e+05,...,-1.968819e+06,2.288830e+05,0.0,0.153333,1.823333,8.200000,171.818546,2.069337,3.265667e+05,2.100000
2,3,NEGG,2012-06-30,USD,2.740468e+06,6.983128e+06,4.242660e+06,4.242660e+06,1.928212e+06,9.017320e+05,...,3.667197e+06,1.439705e+06,0.0,0.143333,1.643333,8.033333,170.295168,2.069337,1.164967e+06,1.776667
3,4,NEGG,2012-09-30,USD,2.067378e+06,5.529120e+06,3.461742e+06,3.461742e+06,1.411658e+06,7.498650e+05,...,-1.454008e+06,1.432072e+06,0.0,0.160000,1.706667,7.800000,170.093088,2.069337,1.498900e+06,1.760000
4,5,NEGG,2012-12-31,USD,2.066617e+06,5.542146e+06,3.475529e+06,3.475529e+06,5.926710e+05,1.642633e+06,...,1.302600e+04,7.068420e+05,0.0,0.143333,1.950000,7.733333,173.578270,2.069337,2.201333e+05,1.930000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45944,49576,FDX,2023-05-31,USD,-7.000000e+07,2.123600e+10,7.000000e+07,1.926000e+09,1.503000e+09,4.750000e+08,...,-9.330000e+08,1.355000e+09,-121000000.0,5.100000,3.825000,3.550000,154.695420,4.642850,4.752713e+07,258.925000
45945,49577,WBA,2023-05-31,USD,6.588000e+09,3.527100e+10,3.683300e+10,2.882600e+10,-4.770000e+08,7.123000e+09,...,5.220000e+08,-1.290000e+08,-16000000.0,5.100000,3.825000,3.550000,154.695420,4.642850,2.060940e+08,29.230000
45946,49578,STZ,2023-05-31,USD,1.257800e+09,5.191700e+09,1.873700e+09,1.257100e+09,7.647000e+08,4.931000e+08,...,3.193900e+09,1.714000e+08,30900000.0,5.100000,3.825000,3.550000,154.695420,4.642850,2.299800e+07,259.465000
45947,49579,ACN,2023-05-31,USD,2.255323e+09,1.656458e+10,1.430926e+10,1.103552e+10,2.359288e+09,2.822909e+09,...,7.504270e+08,1.569812e+09,534111000.0,5.100000,3.825000,3.550000,154.695420,4.642850,4.946568e+07,312.465000
45948,49580,NKE,2023-05-31,USD,5.595000e+09,1.284100e+10,1.160400e+10,7.230000e+09,1.221000e+09,4.374000e+09,...,4.510000e+08,-5.270000e+08,0.0,5.100000,3.825000,3.550000,154.695420,4.642850,1.757550e+08,110.380000

# Create train and test set
## The split should happen based on the fiscal_date_ending column

In [12]:
stocks_df['symbol'].nunique()

2832

In [13]:
stocks_df['fiscal_date_ending'].nunique()

327

In [14]:
# Define the split ratio
split_ratio = 0.95

# Calculate the split index based on the ratio
split_index = int(split_ratio * len(stocks_df))

# Split the DataFrame into training and test sets
train_set = stocks_df[:split_index].copy().reset_index()
test_set = stocks_df[split_index:].copy().reset_index()

In [15]:
train_set

,level_0,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,...,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,avg_global_commodities_index_value,inflation,avg_volume,price
0,0,1,NEGG,2011-12-31,USD,1686513.0,5284750.0,3598237.0,3598237.0,-269682.0,...,-404293.0,138492.0,0.0,0.103333,2.036667,8.266667,181.335364,3.156842,1.375333e+05,2.196667
1,1,2,NEGG,2012-03-31,USD,1241275.0,3315931.0,2074656.0,2074656.0,454820.0,...,-1968819.0,228883.0,0.0,0.153333,1.823333,8.200000,171.818546,2.069337,3.265667e+05,2.100000
2,2,3,NEGG,2012-06-30,USD,2740468.0,6983128.0,4242660.0,4242660.0,1928212.0,...,3667197.0,1439705.0,0.0,0.143333,1.643333,8.033333,170.295168,2.069337,1.164967e+06,1.776667
3,3,4,NEGG,2012-09-30,USD,2067378.0,5529120.0,3461742.0,3461742.0,1411658.0,...,-1454008.0,1432072.0,0.0,0.160000,1.706667,7.800000,170.093088,2.069337,1.498900e+06,1.760000
4,4,5,NEGG,2012-12-31,USD,2066617.0,5542146.0,3475529.0,3475529.0,592671.0,...,13026.0,706842.0,0.0,0.143333,1.950000,7.733333,173.578270,2.069337,2.201333e+05,1.930000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43646,43646,47273,MGIC,2023-03-31,USD,41821000.0,147146000.0,105325000.0,105325000.0,14593000.0,...,4706000.0,8508000.0,0.0,4.990000,3.593333,3.566667,160.986739,4.642850,4.466285e+05,12.670000
43647,43647,47274,LAZR,2023-03-31,USD,-14624000.0,14509000.0,29133000.0,5451000.0,-141895000.0,...,3383000.0,-55875000.0,0.0,4.990000,3.593333,3.566667,160.986739,4.642850,1.643565e+08,6.415000
43648,43648,47275,NUVB,2023-03-31,USD,-7802000.0,0.0,7790000.0,0.0,-26521000.0,...,0.0,-14003000.0,0.0,4.990000,3.593333,3.566667,160.986739,4.642850,8.672408e+06,1.615000
43649,43649,47276,BGC,2023-03-31,USD,145486000.0,532867000.0,387381000.0,267214000.0,-366985000.0,...,96352000.0,58521000.0,3627000.0,4.990000,3.593333,3.566667,160.986739,4.642850,5.464501e+07,4.300000
43650,43650,47277,GB,2023-03-31,EUR,51677000.0,86777000.0,35100000.0,35100000.0,13797000.0,...,92000.0,1943000.0,0.0,4.990000,3.593333,3.566667,160.986739,4.642850,3.281940e+05,5.430000

In [16]:
test_set

,level_0,index,symbol,fiscal_date_ending,reported_currency,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,...,total_revenue_change,total_shareholder_equity_change,treasury_stock_change,avg_interest_rate,avg_treasury_yield,avg_unemployment_rate,avg_global_commodities_index_value,inflation,avg_volume,price
0,43651,47278,UBS,2023-03-31,USD,8.743997e+09,8.744000e+09,2.729000e+03,2.729000e+03,5.302000e+09,...,8.660000e+08,-1.220000e+08,0.0,4.99,3.593333,3.566667,160.986739,4.64285,75503607.0,19.580
1,43652,47280,KRNT,2023-03-31,USD,1.307200e+07,4.777800e+07,3.470600e+07,3.470600e+07,-2.414100e+07,...,-1.552000e+07,-1.579200e+07,0.0,4.99,3.593333,3.566667,160.986739,4.64285,6544005.0,20.355
2,43653,47281,NMM,2023-03-31,USD,1.178850e+08,3.095220e+08,1.916370e+08,1.916370e+08,1.012390e+08,...,-6.134100e+07,9.762600e+07,0.0,4.99,3.593333,3.566667,160.986739,4.64285,2041326.0,21.485
3,43654,47282,GENI,2023-03-31,USD,9.532000e+06,9.722900e+07,8.769700e+07,8.769700e+07,-2.220200e+07,...,-8.110000e+06,1.708300e+07,0.0,4.99,3.593333,3.566667,160.986739,4.64285,21068239.0,4.715
4,43655,47283,NVX,2023-03-31,None,1.352946e+06,2.104441e+06,7.514942e+05,7.514942e+05,-1.660437e+07,...,0.000000e+00,0.000000e+00,0.0,4.99,3.593333,3.566667,160.986739,4.64285,637209.5,2.495
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2293,45944,49576,FDX,2023-05-31,USD,-7.000000e+07,2.123600e+10,7.000000e+07,1.926000e+09,1.503000e+09,...,-9.330000e+08,1.355000e+09,-121000000.0,5.10,3.825000,3.550000,154.695420,4.64285,47527132.0,258.925
2294,45945,49577,WBA,2023-05-31,USD,6.588000e+09,3.527100e+10,3.683300e+10,2.882600e+10,-4.770000e+08,...,5.220000e+08,-1.290000e+08,-16000000.0,5.10,3.825000,3.550000,154.695420,4.64285,206094008.0,29.230
2295,45946,49578,STZ,2023-05-31,USD,1.257800e+09,5.191700e+09,1.873700e+09,1.257100e+09,7.647000e+08,...,3.193900e+09,1.714000e+08,30900000.0,5.10,3.825000,3.550000,154.695420,4.64285,22997998.0,259.465
2296,45947,49579,ACN,2023-05-31,USD,2.255323e+09,1.656458e+10,1.430926e+10,1.103552e+10,2.359288e+09,...,7.504270e+08,1.569812e+09,534111000.0,5.10,3.825000,3.550000,154.695420,4.64285,49465678.5,312.465
2297,45948,49580,NKE,2023-05-31,USD,5.595000e+09,1.284100e+10,1.160400e+10,7.230000e+09,1.221000e+09,...,4.510000e+08,-5.270000e+08,0.0,5.10,3.825000,3.550000,154.695420,4.64285,175754983.5,110.380

In [17]:
test_set['symbol'].nunique()

2298

In [18]:
columns_to_drop = ['fiscal_date_ending', 'reported_currency']  # Add the symbol here as well
train_set.drop(columns_to_drop, axis=1, inplace=True)
test_set.drop(columns_to_drop, axis=1, inplace=True)

In [19]:
test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2298 entries, 0 to 2297
Columns: 181 entries, level_0 to price
dtypes: float64(177), int64(2), object(2)
memory usage: 3.2+ MB

In [20]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43651 entries, 0 to 43650
Columns: 181 entries, level_0 to price
dtypes: float64(177), int64(2), object(2)
memory usage: 60.3+ MB

In [25]:
stocks_df_only_numeric = stocks_df.drop(['symbol', 'fiscal_date_ending', 'reported_currency', 'sector'], axis=1)
corr_matrix = stocks_df_only_numeric.corr()

In [26]:
corr_matrix["price"].sort_values(ascending=False)

price                                      1.000000
comprehensive_income_net_of_tax            0.223239
profit_loss                                0.220591
payments_for_repurchase_of_common_stock    0.184878
payments_for_repurchase_of_equity          0.183192
                                             ...
total_liabilities                         -0.020068
total_current_assets                      -0.020348
total_assets                              -0.020796
avg_interest_rate                         -0.028973
avg_volume                                -0.035336
Name: price, Length: 178, dtype: float64

In [27]:
import numpy as np

# Find the strong correlations (> 0.8)
strong_correlations = np.where(np.abs(corr_matrix) > 0.8)

# Create a DataFrame to display the strong correlations
strong_correlations_df = pd.DataFrame({
    'Feature1': stocks_df_only_numeric.columns[strong_correlations[0]],
    'Feature2': stocks_df_only_numeric.columns[strong_correlations[1]],
    'Correlation': corr_matrix.values[strong_correlations]
})

# Filter out the correlations where Feature1 is not equal to Feature2
strong_correlations_df = strong_correlations_df[strong_correlations_df['Feature1'] != strong_correlations_df['Feature2']]

# Display the strong correlations
strong_correlations_df

,Feature1,Feature2,Correlation
1,index,inflation,0.814864
3,gross_profit,total_revenue,0.840679
4,gross_profit,operating_income,0.928897
5,gross_profit,operating_expenses,0.818126
6,gross_profit,depreciation_and_amortization,0.852723
...,...,...,...
419,avg_interest_rate,avg_treasury_yield,0.850780
420,avg_treasury_yield,avg_interest_rate,0.850780
424,avg_global_commodities_index_value,inflation,0.890758
425,inflation,index,0.814864
426,inflation,avg_global_commodities_index_value,0.890758

In [28]:
strong_correlations_df['Feature1'].value_counts()

gross_profit                                          10
ebitda                                                10
depreciation_and_amortization                          8
net_income                                             7
ebit                                                   7
                                                      ..
proceeds_from_repayments_of_short_term_debt            1
payments_for_repurchase_of_common_stock                1
payments_for_repurchase_of_equity                      1
cash_and_cash_equivalents_at_carrying_value_change     1
change_in_receivables                                  1
Name: Feature1, Length: 80, dtype: int64

In [21]:
from sklearn.preprocessing import OneHotEncoder
from typing import Optional, List

def perform_one_hot_encoding(
    df: pd.DataFrame,
    encoder: OneHotEncoder,
    fit: bool = False,
    categorical_columns: Optional[List[str]] = None
) -> pd.DataFrame:
    """
    Given a dataframe with categorical columns this function will return a new dataframe
    that will replace these columns with the one hot encoding ones and will leave the rest
    of the columns unchanged.
    params:
    - fit -> If fit is True then fit_transform is called , otherwise only transform
    - categorical_columns -> A list with the names of the categorical columns we want to
    transform. If not given then columns with type category are used
    """

    if categorical_columns is None:
        categorical_columns = df.select_dtypes(include='category').columns.tolist()

    if fit: 
        encoded_df = pd.DataFrame(encoder.fit_transform(df[categorical_columns]).toarray(), columns=encoder.get_feature_names_out())
    else:
        encoded_df = pd.DataFrame(encoder.transform(df[categorical_columns]).toarray(), columns=encoder.get_feature_names_out())

    #merge one-hot encoded columns back with original DataFrame
    final_df = df.join(encoded_df)

    # Drop original categorical columns
    final_df.drop(categorical_columns, axis=1, inplace=True)
    return final_df

In [22]:
one_hot_encoder = OneHotEncoder(handle_unknown='error')
categorical_columns = ['sector']

df_train_ohe = perform_one_hot_encoding(
    df=train_set,
    encoder=one_hot_encoder,
    fit=True,
    categorical_columns=categorical_columns
)

In [23]:
df_train_ohe

,level_0,index,symbol,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,inflation,avg_volume,price,sector_ENERGY & TRANSPORTATION,sector_FINANCE,sector_LIFE SCIENCES,sector_MANUFACTURING,sector_REAL ESTATE & CONSTRUCTION,sector_TECHNOLOGY,sector_TRADE & SERVICES
0,0,1,NEGG,1686513.0,5284750.0,3598237.0,3598237.0,-269682.0,1992276.0,0.0,...,3.156842,1.375333e+05,2.196667,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1,2,NEGG,1241275.0,3315931.0,2074656.0,2074656.0,454820.0,809392.0,0.0,...,2.069337,3.265667e+05,2.100000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2,3,NEGG,2740468.0,6983128.0,4242660.0,4242660.0,1928212.0,901732.0,0.0,...,2.069337,1.164967e+06,1.776667,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,4,NEGG,2067378.0,5529120.0,3461742.0,3461742.0,1411658.0,749865.0,0.0,...,2.069337,1.498900e+06,1.760000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,5,NEGG,2066617.0,5542146.0,3475529.0,3475529.0,592671.0,1642633.0,0.0,...,2.069337,2.201333e+05,1.930000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43646,43646,47273,MGIC,41821000.0,147146000.0,105325000.0,105325000.0,14593000.0,20999000.0,2714000.0,...,4.642850,4.466285e+05,12.670000,0.0,0.0,0.0,0.0,0.0,1.0,0.0
43647,43647,47274,LAZR,-14624000.0,14509000.0,29133000.0,5451000.0,-141895000.0,58219000.0,69052000.0,...,4.642850,1.643565e+08,6.415000,0.0,0.0,0.0,0.0,1.0,0.0,0.0
43648,43648,47275,NUVB,-7802000.0,0.0,7790000.0,0.0,-26521000.0,7734000.0,18787000.0,...,4.642850,8.672408e+06,1.615000,0.0,0.0,1.0,0.0,0.0,0.0,0.0
43649,43649,47276,BGC,145486000.0,532867000.0,387381000.0,267214000.0,-366985000.0,99421000.0,0.0,...,4.642850,5.464501e+07,4.300000,0.0,1.0,0.0,0.0,0.0,0.0,0.0
43650,43650,47277,GB,51677000.0,86777000.0,35100000.0,35100000.0,13797000.0,57625000.0,0.0,...,4.642850,3.281940e+05,5.430000,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [29]:
 train_set['sector'].isna().any()

False

In [24]:
df_test_ohe = perform_one_hot_encoding(
    df=test_set,
    encoder=one_hot_encoder,
    fit=False,
    categorical_columns=categorical_columns
)

In [25]:
df_test_ohe

,level_0,index,symbol,gross_profit,total_revenue,cost_of_revenue,cost_of_goods_and_services_sold,operating_income,selling_general_and_administrative,research_and_development,...,inflation,avg_volume,price,sector_ENERGY & TRANSPORTATION,sector_FINANCE,sector_LIFE SCIENCES,sector_MANUFACTURING,sector_REAL ESTATE & CONSTRUCTION,sector_TECHNOLOGY,sector_TRADE & SERVICES
0,43651,47278,UBS,8.743997e+09,8.744000e+09,2.729000e+03,2.729000e+03,5.302000e+09,5.584000e+09,0.00,...,4.64285,75503607.0,19.580,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,43652,47280,KRNT,1.307200e+07,4.777800e+07,3.470600e+07,3.470600e+07,-2.414100e+07,8.948000e+06,13082000.00,...,4.64285,6544005.0,20.355,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,43653,47281,NMM,1.178850e+08,3.095220e+08,1.916370e+08,1.916370e+08,1.012390e+08,1.949900e+07,0.00,...,4.64285,2041326.0,21.485,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,43654,47282,GENI,9.532000e+06,9.722900e+07,8.769700e+07,8.769700e+07,-2.220200e+07,1.807400e+07,6269000.00,...,4.64285,21068239.0,4.715,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,43655,47283,NVX,1.352946e+06,2.104441e+06,7.514942e+05,7.514942e+05,-1.660437e+07,1.508248e+07,1760091.75,...,4.64285,637209.5,2.495,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2293,45944,49576,FDX,-7.000000e+07,2.123600e+10,7.000000e+07,1.926000e+09,1.503000e+09,4.750000e+08,0.00,...,4.64285,47527132.0,258.925,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2294,45945,49577,WBA,6.588000e+09,3.527100e+10,3.683300e+10,2.882600e+10,-4.770000e+08,7.123000e+09,0.00,...,4.64285,206094008.0,29.230,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2295,45946,49578,STZ,1.257800e+09,5.191700e+09,1.873700e+09,1.257100e+09,7.647000e+08,4.931000e+08,0.00,...,4.64285,22997998.0,259.465,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2296,45947,49579,ACN,2.255323e+09,1.656458e+10,1.430926e+10,1.103552e+10,2.359288e+09,2.822909e+09,0.00,...,4.64285,49465678.5,312.465,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2297,45948,49580,NKE,5.595000e+09,1.284100e+10,1.160400e+10,7.230000e+09,1.221000e+09,4.374000e+09,0.00,...,4.64285,175754983.5,110.380,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [28]:
df_train_ohe.drop(['level_0', 'index', 'symbol'], axis=1, inplace=True)
df_test_ohe.drop(['level_0', 'index', 'symbol'], axis=1, inplace=True)